html,
body {
  font-size: 14px !important;
  padding: 0;
  margin: 0;
  font-family: 'Muli', sans-serif;
}

*:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

$color-red : rgb(255, 0, 0);
$color-white : #fff;
$color-black : #000;

//S//

.layout_default {
  position: relative;
  // background-color: rgb(242,243,243);
}

.scroll_to_top {
  color: black;
  position: fixed;
  bottom: 40px;
  right: 40px;
  padding: 15px 12.5px 10px 12.5px;
  border-radius: 50%;
  transition: all ease-in-out 300ms;
}

.scroll_to_top:hover {
  background-color: rgb(126, 126, 126, 0.3);
  cursor: pointer;
}

.scroll_to_top_icon {
  font-size: 2.3rem;
}

//E//
//S//

.the_header {
  background-color: rgb(242, 243, 243);
  position: sticky;
  top: 0;
  z-index: 10000;
}

.header_container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1280px;
  // background-color: aquamarine;
}

.header_logo_image {
  width: 100px;
  height: 70px;
  cursor: pointer;
}

.header_box_desktop {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.header_menu_desktop {
  // background-color: rgb(224, 255, 254);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_menu_desktop_item {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 10px 20px;
  border: 2px solid rgb(255, 255, 255, 0);
  border-radius: 100px;
  color: rgb(21, 63, 154, 0.8);
  transition: all ease-in-out 300ms;
}

.header_menu_desktop_item:hover {
  color: orange;
  cursor: pointer;
}

.header_menu_desktop_active {
  border: 2px solid rgb(21, 63, 154);
  transition: all ease-in-out 300ms;
}

.header_menu_desktop_active:hover {
  border: 2px solid orange;
}

.header_menu_desktop_item_search_icons {
  font-size: 22px;
  margin-left: 10px;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

.header_menu_desktop_item_search_icons:hover {
  color: orange;
}

//     mobile
.header_box_mobile {
  display: none;
}

.menu_mobile_icon {
  cursor: pointer;
}

.header_logo_mobile_image {
  width: 100px;
  height: 66px;
  cursor: pointer;
}

.header_mobile_search {
  cursor: pointer;
}


//E//
//S//

.footer_container {
  background-color: rgb(56, 56, 56);
}

.footer_box {
  font-family: "Muli", sans-serif;
  padding: 30px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1280px;
  // background-color: rgb(0, 0, 0, 0.2);
}

.footer_box_item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #fff;
}

.footer_infomation {
  padding: 20px 20px 20px 0;
}

.footer_title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer_infomation_row {
  display: flex;
  color: rgb(169, 169, 169);
  font-weight: 600;
  padding: 15px 0;

  a:hover {
    color: rgb(123, 169, 61);
  }
}

.footer_infomation_row_icon {}

.footer_infomation_row_text {
  padding-left: 10px;
}

.footer_product {
  padding: 20px;
}

.footer_product_text {
  font-size: 1.1rem;
  padding: 10px 0;
  color: rgb(169, 169, 169);
}

.footer_product_text:hover {
  color: rgb(123, 169, 61);
  cursor: pointer;
}

.footer_category {
  padding: 20px;
}

.footer_category_text {
  font-size: 1.1rem;
  padding: 10px 0;
  color: rgb(169, 169, 169);
}

.footer_category_text:hover {
  color: rgb(123, 169, 61);
  cursor: pointer;
}

.footer_subs {
  padding: 20px;
}

.footer_subs_text {
  font-size: 1.1rem;
  padding: 10px 0;
  color: rgb(169, 169, 169);
}

.footer_subs_input_box {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  margin: 20px 0;
}

.footer_subs_input {
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  background-color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
}

.footer_subs_input_icon {
  cursor: pointer;
  padding: 5px;
}

.footer_subs_social_media_icon_box {
  display: flex;
  flex-wrap: wrap;
}

.footer_subs_social_media_icon {
  font-size: 30px;
  margin: 20px 30px 20px 0;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

.footer_subs_social_media_icon:hover {
  color: rgb(123, 169, 61);
}
.footer_license {
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 10px 0;
}
//E//
//S//

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  background-color: rgba(53, 177, 226, 0) !important;
}

.sidebar.left {
  left: 0;
}

.sidebar.right {
  right: 0;
}

.sidebar .sidebar__block {
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0) !important;
}

.overlay {
  opacity: 0;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  position: fixed;
  touch-action: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.sidebar__block {
  max-width: 300px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: auto;
  width: 100%;
  background: white;
}

.sidebar__block.left {
  left: 0;
  transform: translateX(-100%);
  animation: move-out-left 0.3s;
}

.sidebar__block.right {
  right: 0;
  transform: translateX(100%);
  animation: move-out-right 0.3s;
}

.sidebar.open .sidebar__block {
  transform: translateX(0);
}

.sidebar.open .sidebar__block.left {
  animation: move-in-left 0.3s;
}

.sidebar.open .sidebar__block.right {
  animation: move-in-right 0.3s;
}

.sidebar.open .overlay {
  opacity: 1;
}

@keyframes move-in-left {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes move-out-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes move-in-right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes move-out-right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

//E//
//S//
.sibar_menu_box {
  background-color: rgba(255, 255, 255);
  height: 100vh;
}

.sibar_menu_box_close {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.sibar_menu_box_close_icon {
  color: rgb(48, 48, 48);
  cursor: pointer;
}

.sibar_menu_box_close_icon:hover {
  color: rgb(14, 14, 14);
}

.sibar_menu_box_item {
  padding: 20px 30px;
  font-weight: 700;
  font-size: 1rem;
  color: rgb(80, 80, 80);
  border: 1px solid rgb(198, 198, 198, 0.2);
  transition: all ease-in-out 300ms;
  cursor: pointer;
}

.sibar_menu_box_item:hover {
  background-color: rgb(170, 170, 170, 0.3);

}

.input_search_box {
  background-color: rgb(255, 255, 255, 0.15);
  padding: 10px 10px 10px 20px;
  border-radius: 100px;
  display: flex;
  align-items: center !important;
}

.input_search_box.bottom {
  animation: move-top-bottom 0.7s;
}

@keyframes move-top-bottom {
  from {
    transform: translateY(-300%);
  }

  to {
    transform: translateY(0);
  }
}

.input_search_header {
  font-size: 1.8rem;
  color: white;
  padding: 10px;
  width: 550px;
  height: 50px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.input_search_header:focus {
  outline: none !important;
}

.input_search_header::placeholder {
  color: white;
}

.input_search_header_icon {
  margin: 0 10px;
  cursor: pointer;
}

//E//
//S//

//Home
.home_banner_solution {
  background-color: rgb(242, 243, 243);
}

.home_container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1280px;
  // background-color: rgb(177, 255, 229, 0.3);
}

.home_banner {
  display: flex;
  justify-content: space-between;
}

.home_banner_content {
  margin-top: 50px;

}

.home_banner_content_hello {
  color: #00457c;
  font-size: 1.8rem;
  margin: 0;
  height: 50px;
  font-weight: 700;
}

.home_banner_content_title_tnhh {
  font-family: 'Prompt', sans-serif;
  margin-top: 0px;
  color: #8cc63f;
  font-size: 2.9rem;
  font-weight: 900;
  text-align: center;
}

.home_banner_content_title_ktmt {
  font-family: 'Prompt', sans-serif;
  margin-top: 0;
  color: #8cc63f;
  font-size: 2.9rem;
  font-weight: 900;
  text-align: center;
}

.home_banner_content_title_t_t {
  font-family: 'Prompt', sans-serif;
  margin-top: 0;
  color: #8cc63f;
  font-size: 2.9rem;
  font-weight: 900;
  text-align: center;
}

.home_banner_content_description {
  width: 100%;
  color: #00457c;
  line-height: normal;
  font-style: italic;
  font-size: 1.5rem;
  border-left: 3px solid #00457c;
  padding-left: 30px;
  text-align: justify;
}

.home_banner_img_box {
  margin-top: -100px;
}

.home_banner_img {
  width: 30vw;
}

.more_infomation {
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
  background-color: rgb(23, 87, 139);
  margin-top: 50px;
  width: 160px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 12px 28px 0px, rgba(0, 0, 0, 0.2) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  transition: all ease-in-out 300ms;
}

.more_infomation:hover {
  transform: translateY(-20%);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 60px 40px -7px;
}

.more_infomation {
  a:hover {
    color: #fff;
  }
}

.technology_solution {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  padding: 30px 0;
}

.technology_solution_title {
  color: rgb(16, 82, 137);
}

.technology_solution_content {
  color: #8cc63f;
  margin-top: 20px;
}

.list_of_fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

.list_of_fields_item {
  cursor: pointer;
  margin: 10px 0;
  padding: 5px;
}

.list_of_fields_item:hover {
  .list_of_fields_item_icon {
    background-color: rgb(16, 82, 137);
    color: white;
  }
}

.list_of_fields_item_icon_box {}

.list_of_fields_item_icon {
  font-size: 10rem;
  padding: 20px;
  border-radius: 50%;
  border: 3px solid rgb(16, 82, 137);
  color: rgb(16, 82, 137);
  transition: all ease-in-out 300ms;
}

.list_of_fields_item_title {
  font-size: 1.5rem;
}

.technology_solution_line1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 500px;
  height: 3px;
  background-color: #8cc63f;
}

.technology_solution_line2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 200px;
  height: 3px;
  background-color: #8cc63f;
}

.technology_solution_description {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 950px;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
}

.technology_solution_text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 750px;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  color: #00457c;
}

.technology_solution_button {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button_solution {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 0 20px;
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
  background-color: rgb(23, 87, 139);
  margin-top: 50px;
  width: 300px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 12px 28px 0px, rgba(0, 0, 0, 0.2) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  transition: all ease-in-out 300ms;
}

.button_solution:hover {
  transform: translateY(-20%);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 60px 40px -7px;
}

.button_solution {
  a:hover {
    color: #fff;
  }
}

.support_solution {
  width: 350px;
  background-color: rgb(156, 206, 90);
}

//E//
//S//

.exclusive_products_container {
  background-color: #fff;
}

.exclusive_products_title_box {
  align-items: center;
  position: relative;
  height: 50px;
  margin: 50px 0;
}

.title_product_line {
  height: 2px;
  width: 100%;
  background-color: rgb(151, 151, 151);
  position: absolute;
  top: 50%;
}

.exclusive_products_title {
  font-size: 2.5rem;
  text-align: center;
  width: 450px;
  font-weight: bold;
  color: #00457c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.slider_box {
  width: 100%;
  position: relative;
}

.slider_box_item {
  padding: 10px;
}

//E//
//S//
.slider_prev_arrow_icon,
.slider_next_arrow_icon {
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  border-radius: 50%;
  transition: all ease-in-out 300ms;
}

@media screen and (min-width: 992px) {
  .slider_box:hover {
    .slider_prev_arrow_icon {
      opacity: 1;
      top: 50%;
      transform: translateY(-50%);
      font-size: 50px;
      color: rgb(0, 0, 0, 0.1);
      padding: 10px;
      cursor: pointer;
    }

    .slider_next_arrow_icon {
      opacity: 1;
      top: 50%;
      transform: translateY(-50%);
      font-size: 50px;
      color: rgb(0, 0, 0, 0.1);
      padding: 10px;
      cursor: pointer;
    }

    .slider_prev_arrow_icon:hover {
      background-color: rgb(0, 0, 0, 0.2);
    }

    .slider_next_arrow_icon:hover {
      background-color: rgb(0, 0, 0, 0.2);
    }
  }
}

.slider_prev_arrow_icon {
  left: 0;
}

.slider_next_arrow_icon {
  right: 0;
}

//E//
//S//
.product_card_box {
  width: 100%;
  cursor: pointer;
  padding-top: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 20px 0;
  border-radius: 5px;
  transition: all ease-in-out 300ms;
}

.product_card_box:hover {
  transform: translateY(-5%);
}

.product_card_box_content {
  padding: 10px;
}

.product_card_img_box {
  position: relative;
  width: 100%;
  padding-top: 95%;
}

.product_card_img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.product_card_name {
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  height: 50px;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.product_card_price {
  text-align: center;
  font-weight: 700;
  color: #8cc63f;
  font-size: 1.2rem;
}

//E//
//S//

.sphere_of_activity_card_box {
  width: 100%;
}

.sphere_of_activity_box {
  position: relative;
  width: 100%;
  padding-top: 100%;
}



.sphere_of_activity_card_content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.sphere_of_activity_card_name_box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  height: 95%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.sphere_of_activity_card_name {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
}
.sphere_of_activity_card_name_text {
  color: rgb(0, 0, 0);
  margin-top: 50%;
  transform: translateY(-50%);
}
.sphere_of_activity_card_quantity {
  font-size: 0.8rem;
  text-transform: uppercase;
}

//E//
//S//
.home_comment {
  margin-top: 80px;
}

.home_comment_slider_item_box {
  background-image: url("../public/images/background-comment.jpg");
}

.home_comment_slider_item {
  background-color: rgba(5, 33, 57, 0.97);
  height: 378px;
}

.home_comment_slider_item_content {
  height: 100%;
  padding: 3vw 15vw;
}

.home_comment_slider_item_content_box {
  height: 40%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.home_comment_slider_item_content_img {
  height: 100%;
  border-radius: 10px;
}

.home_comment_slider_item_content_name_star_box {
  margin-left: 20px;
}

.home_comment_slider_item_content_name {
  font-weight: 900;
  font-size: 1.2rem;
  color: #fff;
}

.home_comment_star_icon {
  color: rgb(140, 198, 63);
  margin-right: 5px;
}

.home_comment_slider_item_text {
  color: rgb(255, 255, 255);
  height: 60%;
  font-style: italic;
  font-size: 1.5rem;
  text-align: justify;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

//E//
//S//
.home_background_posts {
  background-image: url("https://wallpaperaccess.com/full/359977.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}

.home_posts {
  display: block;
  margin-left: auto;
  margin-right: auto;
  // background-color: #4e799c;
  height: 100%;
  width: 1280px;
}

.home_posts_box {
  display: flex;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0.6);
  // background-color: #8cc63f;

}

.home_posts_infomation {
  width: 25%;
  padding: 30px;
}

.home_posts_infomation_title {
  font-weight: 900;
  font-size: 1.5rem;
  font-family: "Muli", sans-serif;
  color: #fff;
  padding-bottom: 20px;
}

.home_posts_infomation_text {
  font-style: italic;
  font-size: 1.4rem;
  font-family: "Muli", sans-serif;
  color: #fff;
  border-left: 2px solid rgba(4, 55, 137);
  padding-left: 20px;
  text-align: justify;
}

.home_posts_slider {
  width: 75%;
}

.posts_card_box {
  color: #fff;
  padding: 20px;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

.posts_card_box:hover {
  transform: scale(1.05);
}

.posts_card_box_content {}

.posts_card_img_box {
  position: relative;
  width: 100%;
  padding-top: 80%;
}

.posts_card_img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.posts_card_name {
  font-weight: 700;
  font-size: 1.1rem;
  height: 50px;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.posts_card_time {
  font-size: 0.9rem;
  color: rgb(220, 220, 220);
}

.posts_card_line {}

.posts_card_description {
  text-align: left;
  font-size: 1rem;
  height: 75px;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

//E//
//S//
.breadcrumb_box {
  height: 100px;
  background-image: url("../public/images/background-router.png");
}

.breadcrumb_box_title {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  padding: 30px 0 10px 0;
  font-weight: 700;
}

.breadcrumb_box_router_box {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 1.7rem;
  padding-top: 30px;
  height: 100%;
  background-color: rgb(83, 83, 83, 0.5);
}

.breadcrumb_box_router_prev:hover {
  color: rgb(3, 175, 255);
  cursor: pointer;

}
.breadcrumb_box_router_here_hover:hover {
  color: rgb(3, 175, 255);
  cursor: pointer;
}

.breadcrumb_box_router_slash {
  margin: 0 10px;
}

.products_page_container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  // background-color: aliceblue;
  width: 1280px;
}

.products_page_box {
  display: flex;

}

.sidebar_filters_box {
  background-color: #fff;
  z-index: 200000;
  height: 100%;
}

.products_page_filters_box_container {
  background-color: #fff;
  z-index: 200000;
  height: 100%;
}

.products_page_filters_box {
  width: 300px;
  min-width: 200px;
  margin-top: 47px;
  margin-right: 20px;
  // background-color: antiquewhite;
}

.products_page_filters_box_category {
  // background-color: aliceblue;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.products_page_filters_box_category_title {
  font-size: 1.1rem;
  padding: 5px 0;
  font-weight: 900;
}

.products_page_filters_box_category_item_box {
  padding: 0;
  border-radius: 5px;
}

.products_page_filters_box_category_item {
  padding: 14.6px 30px;
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

.products_page_filters_box_category_item:hover {
  background-color: #77a935;
}

.filters_box_category_gray {
  background-color: rgba(166, 166, 166, 0.1);
}

.products_page_filters_box_range {
  margin-top: 40px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding-bottom: 30px;
  border-radius: 5px;
}

.products_page_filters_box_range_title {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 15px 18px;
  border-bottom: 1px solid rgb(223, 223, 223);
}

.products_page_filters_box_range_submit {
  text-align: center;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 700;
  background-color: #3c6e97;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

.products_page_filters_box_range_submit:hover {
  background-color: #216195;
}

.products_page_items_box {
  width: 100%;
  // background-color: aquamarine;
}

.products_page_items_filter_sort {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.products_page_items_box_filters_mobile {
  display: none;
}

.products_page_items_box_sort {
  // display: flex;
  // justify-content: flex-end;
}

.products_page_items_container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 27px;
}

.products_page_items {
  padding: 0 10px;
}

.products_page_items_pagination {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.sibar_menu_box_close_filters {
  display: none;
}


//E//
//S//

.knowledge_container {
  width: 1280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.knowledge_box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.knowledge_search_box {
  height: 50px;
  display: flex;
  border: 1px solid rgb(198, 198, 198);
  border-radius: 10px;
  margin-right: 20px;
}

.knowledge_search_box_input {
  width: 95%;
  border: none;
  padding: 10px;
  border-radius: 10px 0 0 10px;
}

.knowledge_search_box_icon {
  font-size: 50px;
  padding: 10px;
  color: #fff;
  background-color: rgb(140, 198, 63);
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.knowledge_search_box_icon:hover {
  background-color: rgb(101, 157, 28);
}

.knowledge_old_items_box {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.knowledge_old_item {
  padding: 20px 20px 20px 0;
}

.knowledge_content_box {
  width: 100%;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  transition: all ease-in-out 300ms;
}

.knowledge_content_box:hover {
  transform: scale(1.03);
}

.knowledge_content_box_box {
  padding: 10px;
}

.knowledge_img_box {
  position: relative;
  width: 100%;
  padding-top: 60%;
}

.knowledge_img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.knowledge_content_title {
  text-align: left;
  font-weight: 700;
  font-size: 1.2rem;
  height: 120px;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  padding: 10px;
}

.knowledge_content_description {
  padding: 10px;
  text-align: justify;
  font-style: italic;
  font-size: 1.1rem;
  height: 60px;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.knowledge_new {
  padding-left: 20px;
}
.knowledge_new_title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.knowledge_new_items_box {
  margin-top: 50px;

}

.knowledge_new_items {
}

.knowledge_new_content_box {
  width: 100%;
  margin: 20px 0;
  width: 100%;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  transition: all ease-in-out 300ms;
}
.knowledge_new_content_box:hover {
  transform: scale(1.02);
}



.knowledge_new_content_box_box {
  display: flex;
}

.knowledge_new_img_box {

}

.knowledge_new_img {
  width: 80px;
  border-radius: 5px;
  height: 100px;
}

.knowledge_new_content_title {
  font-style: italic;
  font-size: 1.1rem;
  font-weight: 600;
  height: 70px;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

//E//
//S//
.detail_ct_container {
  width: 1280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0;
}
.detail_ct_box {
  display: flex;
  flex-wrap: wrap-reverse;
}
.detail_ct_posts {
  padding-right: 30px;
}
.detail_ct_content {
  padding: 40px 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all ease-in-out 500ms;
}
.detail_ct_content:hover {
  box-shadow: rgba(99, 99, 99, 0.8) 0px 2px 8px 0px;
}
.detail_ct_comment {
  background-color: #f2f2f2;
  width: 100%;
  height: 500px;
  margin-top: 50px;
  padding: 20px;
}
.detail_ct_comment_form_submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
  width: 200px;
  background-color: #005fad;
  cursor: pointer;
  color: #fff;
  padding: 10px 30px;
  transition: all ease-in-out 300ms;
}
.detail_ct_comment_form_submit:hover {
  background-color: #008cff;
}

.detail_ct_comment_title {
  font-size: 1.4rem;
  font-weight: 700;
}
.detail_ct_comment_text {
  font-size: 1.2rem;
  margin: 10px 0;
}
.detail_ct_comment_form_infomation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.detail_ct_comment_form_title {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 10px 0;
}
.detail_ct_comment_form_infomation_name {
  width: 48%;
}
.detail_ct_comment_form_infomation_email {
  width: 48%;
}
.detail_ct_comment_form_area {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
}
.detail_ct_comment_form_infomation_input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
}
.detail_ct_title {
  text-align: center;
  font-weight: 700;
  padding-bottom: 30px;
  color: #00457c;
}
.detail_ct_time {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 30px;
  color: gray;
  font-weight: 700;
}
.detail_technical_support {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-top: 50px;
  background-color: orange;
  width: 300px;
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 12px 28px 0px, rgba(0, 0, 0, 0.2) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  transition: all ease-in-out 300ms;
}
.detail_technical_support:hover {
  transform: translateY(-10%);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 60px 40px -7px;
}
//E//
//S//

.contact_container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  width: 1280px;
  height: 100%;
}
.contact_container_box {
  display: flex;
  flex-wrap: wrap-reverse;
}
.contact_maps_box {
  padding: 0 50px 50px 0;
}
.contact_maps {
  width: 100%;
  height: 600px;
}
.contact_infomation {
  width: 100%;
}
.contact_infomation_row {
  display: flex;
  color: rgb(0, 0, 0);
  padding: 15px 0;
  font-size: 1.2rem;
  a:hover {
    color: rgb(123, 169, 61);
  }
}

.contact_infomation_row_icon {
  color: rgb(0, 0, 0);
  font-size: 18px;
}

.contact_infomation_row_text {
  padding-left: 10px;
  padding-top: 3px;
  line-height: 30px;
}
.contact_title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.contact_form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-bottom: 50px;
  width: 100%;
}
.contact_form_row {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.contact_form_row_input {
  width: 49%;
  padding: 10px;
  border: 1px solid rgb(195, 195, 195);
}
.contact_form_row_input_area {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(195, 195, 195);
}
.contact_form_row_submit {
  color: #fff;
  background-color: #00457c;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 80px;
  cursor: pointer;
}
.contact_form_row_submit:hover {
  background-color: #005296;
}













//E//
//S//

.news_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  background-color: antiquewhite;
  font-size: 2rem;
  font-weight: 700;
}

//E//
//S//
//detail

.detail_container {
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0 100px 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.detail_title {
  text-align: center;
  padding: 40px;
  font-weight: 700;
}
.detail_main_image_box {
  display: flex;
  justify-content: center;
}
.detail_main_image {
  width: 90%;
}
.detail_description {
  padding: 5%;
}
.detail_list_image_box {

}
.detail_img {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
// .details_box {
//   display: flex;
//   flex-wrap: wrap;
//   margin-top: 100px;
// }

// .details_img_box {
//   display: flex;
//   padding: 0 50px;
//   // position: relative;
// }

// .details_img {
//   width: 100%;
//   border-radius: 3px;
// }

// .details_content_box {
//   // background-color: #8cc63f;
// }

// .details_content_box_line {
//   height: 3px;
//   width: 60px;
//   background-color: rgb(44, 44, 44, 0.2);
//   margin: 20px 0;
// }

// .details_content_price {
//   color: rgb(140, 198, 63);
//   font-size: 1.8rem;
//   font-weight: 700;
//   margin: 20px 0;
// }

// .details_content_detail {
//   font-size: 1.5rem;
//   font-weight: 700;
//   margin: 20px 0;
// }

// .details_content_description {
//   font-size: 1rem;
//   margin: 20px 0;
//   text-align: justify;
//   padding-right: 40px;
// }

// .details_content_qty_add {
//   display: flex;
//   margin: 20px 0;
// }

// .details_content_qty {
//   width: 20%;
// }

// .details_content_qty_text {
//   text-align: center;
// }

// .details_content_add_cart {
//   background-color: rgb(140, 198, 63);
//   cursor: pointer;
//   color: #fff;
//   padding: 10px;
//   text-align: center;
//   font-size: 1.2rem;
//   font-weight: 700;
//   margin-left: 20px;
//   border-radius: 5px;
//   transition: all ease-in-out 300ms;
// }

// .details_content_add_cart:hover {
//   background-color: rgb(119, 169, 53);
//   padding: 10px;
//   text-align: center;
//   font-size: 1.2rem;
//   font-weight: 700;
//   margin-left: 20px;
//   border-radius: 10px;
// }

// .details_content_buy_now {
//   background-image: linear-gradient(rgb(255, 89, 0), rgb(255, 135, 66));
//   padding: 20px;
//   width: 320px;
//   border-radius: 10px;
//   text-align: center;
//   cursor: pointer;
//   color: #fff;
// }

// .details_content_buy_now:hover {
//   background-image: linear-gradient(rgb(255, 135, 66), rgb(255, 89, 0));
// }

// .details_content_buy_now_title {
//   font-size: 1.3rem;
//   font-weight: 700;
// }

// .details_content_buy_now_text {
//   font-size: 1rem;
// }

// .details_describe {
//   margin: 50px;
// }

// .details_describe_title {
//   font-size: 1.3rem;
//   font-weight: 700;
// }

// .details_describe {
//   ul {
//     li {
//       font-size: 1.1rem;
//       padding: 10px;
//     }
//   }
// }

//E//
//S//

.introduce_container {
  // background-image: url("https://images.pexels.com/photos/753626/pexels-photo-753626.jpeg?auto=compress&cs=tinysrgb&w=1600");
  // background-attachment: fixed;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1280px;
  // background-color: rgb(244, 244, 244);
  font-size: 14px;
}
.introduce_container_opacity {
  // background-color: rgb(139, 139, 139, 0.8);
  padding: 80px 0;
}
.introduce_title_box {
  padding: 30px;
}
.introduce_title {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  color: #00267d;
}
.introduce_text_box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  font-size: 1.4em;
  padding-bottom: 30px;
}
.introduce_hello {
  font-weight: 700;
  color: rgb(0, 0, 0);
}
.introduce_description {
  text-align: justify;
  color: rgb(0, 0, 0);
}
.introduce_content_box {

}
.introduce_content_box_opacity {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.introduce_content_sphere {
  padding: 20px;
}
.introduce_content_sphere_box {
  // background-color: rgba(131, 131, 131, 0.7);
  padding: 20px;
  border-radius: 20px;
}
.introduce_content_sphere_img_box {
  position: relative;
  width: 100%;
  padding-top: 95%;
}

.introduce_content_sphere_img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.introduce_content_sphere_text_box {
  padding: 10px;
}
.introduce_content_sphere_text {
  line-height: 35px;
  font-size: 1.4em;
  text-align: justify;
  color: rgb(0, 0, 0);
}
.introduce_content_sphere_text_qc {
  color: #fff;
  padding: 10px;
  background-color: #005fad;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
}
.introduce_content_activity {

}
.introduce_content_activity_img {
  width: 100%;
  margin: 30px 0;
}
.introduce_content_building {
  padding: 10px;
}
.introduce_content_building_title {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  padding: 20px;
  color: #fff;
}
.introduce_content_building_item_product {
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 10px;
  margin: 20px 0;
  transition: all ease-in-out 300ms;
}
.introduce_content_building_item_product:hover {
  transform: scale(1.05);
}

.introduce_content_building_item_posts {
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 10px;
  margin: 20px 0;
}
//E//
//S//



//E//
//S//



//E//
//S//



//E//
//S//



//E//
//S//



//E//
//S//



//E//
//S//



//E//
//S//



//E//
//S//



//E//
//S//



//E//
//S//



//E//
//S//



//E//
//S//



//E//
//S//



//E//
//S//



//E//
//S//



//E//
//S//



//E//
//S//



//E//
//S//



//E//
//S//



//E//
//S//



//E//
//S//



//E//
//S//



//E//
//S//



//E//
//S//



//E//
//S//



//E//
//S//



//E//
//S//


//E//
@media screen and (max-width: 1300px) {
  .header_container {
    width: 100%;
  }

  .header_box_desktop {
    padding: 10px 15px;
  }

  .home_container {
    width: 100%;
  }

  .home_banner_content {
    padding: 0 20px 0 20px;
  }

  .home_banner_img_box {
    margin-top: 0;
  }

  .home_posts {
    width: 96%;
  }

  .footer_box {
    width: 96%;
  }

  .products_page_container {
    width: 96%;
  }

  .detail_container {
    width: 96%;
  }

  .knowledge_container {
    width: 96%;
  }
  .contact_container {
    width: 96%;
  }
  .detail_ct_container {
    width: 96%;
  }
  .introduce_container {
    width: 96%;
  }
  
}








@media screen and (max-width: 992px) {
  .header_container {
    width: 100%;
  }

  .header_box_desktop {
    display: none;
  }

  .header_box_mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
  }

  .home_banner_content {
    padding: 0 50px 0 30px;
  }

  .home_banner_img {
    display: none;
  }

  .technology_solution_description {
    width: 85%;
    text-align: justify;
    font-size: 1.4rem;
  }

  .exclusive_products_title {
    font-size: 2rem;
    width: 360px;
  }

  .slider_prev_arrow_icon,
  .slider_next_arrow_icon {
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    border-radius: 50%;
    font-size: 35px;
    color: rgb(0, 0, 0, 0.1);
    padding: 10px;
  }

  .home_comment_slider_item {
    height: 300px;
  }

  .home_comment_slider_item_text {
    font-size: 1.3rem;
  }

  .home_posts_infomation {
    display: none;
  }

  .home_posts_slider {
    width: 100%;
  }

  .products_page_filters_box {
    display: none;
  }

  .sibar_menu_box_close_filters {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
  }

  .products_page_items_filter_sort {
    padding: 10px 10px 10px 30px;
  }

  .products_page_items_box_filters_mobile {
    display: block;
  }
  .knowledge_old_item {
    padding: 20px;
  }
  .knowledge_search_box {
    margin: 0 20px;
  }
  .knowledge_new {
    padding: 0 20px;
  }
  .contact_form {
    width: 96%;
  }
  .list_of_fields {
    margin-top: 50px;
  }
  .sphere_of_activity_card_name {
    font-size: 1.1rem;
  }
  .detail_ct_posts {
    padding: 0;
    margin-top: 100px;
  }
  .introduce_content_sphere {
    padding: 30px;
  }
  .introduce_content_building {
    padding: 200px;
  }
  .contact_maps_box {
    padding: 10px;
  }
  .contact_maps {
    height: 400px;
  }
}









@media screen and (max-width: 768px) {
  body {
    font-size: 9px;
  }

  .scroll_to_top_icon {
    font-size: 1.8rem;
  }

  .input_search_box {
    background-color: rgb(255, 255, 255, 0.15);
    padding: 5px 10px 5px 20px;
    border-radius: 100px;
    display: flex;
    align-items: center !important;
  }

  .input_search_header {
    font-size: 1.3rem;
    padding: 10px;
    width: 70vw;
  }

  .technology_solution_title {
    font-size: 2rem;
  }

  .technology_solution_content {
    font-size: 2rem;
  }
  .list_of_fields_item_icon {
    font-size: 8rem;
  }

  .list_of_fields_item_title {
    font-size: 1.3rem;
  }

  .technology_solution_text {
    font-size: 1.7rem;
    width: 85%;
  }

  .technology_solution_description {
    font-size: 1.3rem;
  }

  .button_solution {
    font-size: 1.2rem;
  }

  .exclusive_products_title {
    font-size: 1.8rem;
    width: 320px;
  }

  .home_comment_slider_item {
    height: 250px;
  }

  .home_comment_slider_item_content {
    padding: 3vw 10vw;
  }

  .home_comment_slider_item_text {
    font-size: 1.1rem;
  }

  .footer_infomation {
    padding: 20px;
  }
  .introduce_content_sphere {
    padding: 10px;
  }
  .introduce_text_box {
    width: 90%;
    font-size: 1.2em;
  }
  .introduce_content_building {
    padding: 150px;
  }
}

@media screen and (max-width: 600px) {
  .sphere_of_activity_card_name {
    font-size: 1rem;
  }
  .introduce_content_building {
    padding: 100px;
  }
}

@media screen and (max-width: 550px) {
  .home_banner_content {
    padding: 0 20px 0 20px;
  }

  .home_banner_content_hello {
    font-size: 1.5rem;
  }

  .home_banner_content_title_tnhh {
    margin-top: 0px;
    font-size: 2.5rem;
  }

  .home_banner_content_title_ktmt {
    margin-top: 0px;
    font-size: 2.5rem;
  }

  .home_banner_content_title_t_t {
    margin-top: 0px;
    font-size: 2.5rem;
  }

  .home_banner_content_description {
    font-size: 1.4rem;
  }


  .list_of_fields_item_icon {
    font-size: 6rem;
    padding: 13px;
  }

  .list_of_fields_item_title {
    font-size: 1.1rem;
  }

  .technology_solution_line1 {
    width: 80vw;
  }

  .technology_solution_line2 {
    width: 50vw;
  }

  .technology_solution_text {
    font-size: 1.45rem;
    width: 95%;
  }

  .exclusive_products_title {
    font-size: 1.6rem;
    width: 280px;
  }

  .home_comment_slider_item_text {
    font-size: 0.9rem;
  }
  .sphere_of_activity_card_name {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 500px) {
  .home_banner_content_title_tnhh {
    margin-top: 0px;
    font-size: 2rem;
  }

  .home_banner_content_title_ktmt {
    margin-top: 0px;
    font-size: 2rem;
  }

  .home_banner_content_title_t_t {
    margin-top: 0px;
    font-size: 2rem;
  }
}


@media screen and (max-width: 411px) {
  .home_banner_content_hello {
    font-size: 1.3rem;
  }

  .home_banner_content_title_tnhh {
    margin-top: 0px;
    font-size: 1.7rem;
  }

  .home_banner_content_title_ktmt {
    margin-top: 0px;
    font-size: 1.7rem;
  }

  .home_banner_content_title_t_t {
    margin-top: 0px;
    font-size: 1.7rem;
  }

  .home_banner_content_description {
    font-size: 1.2rem;
  }

  .technology_solution_text {
    font-size: 1.2rem;
    width: 95%;
  }

  .exclusive_products_title {
    font-size: 1.5rem;
    width: 260px;
  }

  .home_comment_slider_item {
    height: 250px;
  }

  .home_comment_slider_item_text {
    font-size: 0.8rem;
  }
  .introduce_content_building {
    padding: 50px;
  }
}